<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mail Classifier</title>
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <style>
        body{
            background-color: aliceblue;
        }
    </style>
</head>
<body>
    <nav>
        <div class="purple nav-wrapper">
          <a href="#" class="brand-logo">Logo</a>
          <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a href="#">Home</a></li>
            <li><a href="">Dashboard</a></li>
            <li><a href="" class="btn purple accent-2">Sign In</a></li>
            <li><a href=""><i class="large material-icons">account_circle</i></a></li>
          </ul>
        </div>
      </nav>
    {% block content %}
    {% endblock %}
</body>
</html>