{% extends 'mail_classifier/base.html' %}

{% block content %}
<style>
    .main .btn-large{
        margin: 3% 6%;
        width: 21%;
        cursor:default;
    }
    .main ul{
      background-color: rgba(70, 70, 70, 0.4);
      padding: 10px;
    }
    .main{
        padding: 0 5%;
    }
    hr{
        margin: 70px 0;
    }
</style>
<div class="main">
    <a class="btn-large purple accent-2">Upload training data</a>
    <a class="btn-large grey">Model selection</a>
    <a class="btn-large grey">Testing</a>
    <p class="center">Upload your mails in different folders for classification</p>
    <!-- <ul class="center">
        <li><a href="" title="Category 1"><i class="large material-icons">folder_open</i></a></li>
        <li><a href="" title="Category 2"><i class="large material-icons">folder_open</i></a></li>
        <li><a href="" title="Add more"><i class="large material-icons">create_new_folder</i></a></li>
        <li><a href="" title="Add more"><i class="large material-icons">create_new_folder</i></a></li>
    </ul>
    <ul class="center">
        <li>Category 1</li>
        <li>Category 2</li>
        <li>Add more</li>
        <li>Add more</li>
    </ul> -->

    <form method="post" action="{% url 'upload' %}" enctype="multipart/form-data">
      {% csrf_token %}
    <ul class="center">
      <li>
      <div class="file-field input-field">
        <div class="btn">
          <span>File</span>
          <input type="file" name="category1">
        </div>
        <div class="file-path-wrapper">
          <input class="file-path validate" type="text" placeholder="Category 1">
        </div>
      </div>
      </li>

      <li>
        <div class="file-field input-field">
          <div class="btn">
            <span>File</span>
            <input type="file" name="category2">
          </div>
          <div class="file-path-wrapper">
            <input class="file-path validate" type="text" placeholder="Category 2">
          </div>
        </div>
        </li>
        
      <li>
        <div class="file-field input-field">
          <div class="btn">
            <span>File</span>
            <input type="file" name="category3">
          </div>
          <div class="file-path-wrapper">
            <input class="file-path validate" type="text" placeholder="Category 3">
          </div>
        </div>
        </li>
        
        <li>
          <div class="file-field input-field">
            <div class="btn">
              <span>File</span>
              <input type="file" name="category4">
            </div>
            <div class="file-path-wrapper">
              <input class="file-path validate" type="text" placeholder="Category 4">
            </div>
          </div>
          </li>          
    </ul>
    <!-- <hr>
    <p class="center">Add determinig words for each category (optional)</p>
    <div class="row">
        <div class="col s12">
          <div class="row">
            <div class="input-field col s3">
              <textarea name="category1" class="materialize-textarea"></textarea>
              <label for="textarea1">Enter text...</label>
            </div>
            <div class="input-field col s3">
              <textarea name="category2" class="materialize-textarea"></textarea>
              <label for="textarea1">Enter text...</label>
            </div>
            <div class="input-field col s3">
              <textarea name="category3" class="materialize-textarea"></textarea>
              <label for="textarea1">Enter text...</label>
            </div> 
            <div class="input-field col s3">
              <textarea name="category4" class="materialize-textarea"></textarea>
              <label for="textarea1">Enter text...</label>
            </div>                                      
          </div>
        </div>
      </div> -->
      <input type="submit" class="purple right btn-large" value="Continue"></input>
    </form>
</div>
{% endblock %}